@use '../../SCSS/abstracts/mixins';
.section__container{
  width: 80vw;

}
.section__container--h1{
  width: 100vh;
  @include mixins.font(2rem);
  margin: 2rem 0 1rem 0;
  
}


.container__cards{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(18rem,1fr));
    grid-auto-rows: 27rem;
    background-color: var(--primary);
    
}


.card__container{
    @include mixins.col(start, center);
    width: 15rem;
    height: 28rem;

&card__container--img{
    display: flex;
    max-height: 60%;
}
.card__img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    
  }
  h1{
    text-align: center;
    font-size: 1.5rem;
    color: var(--secundary);
    font-family: var(--PT-Sans);
    font-weight: 100;
  }


}