
/*creamos mixins*/
@mixin flex($justify, $align){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin col($justify, $align){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($size){
    color: var(--secundary);
    font-family: var(--PT-Sans);
    font-size: $size;
}