/*importsmos tiposgrafias*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


:root{
    //cargamos la fuentes
    --Nunito: 'Nunito', sans-serif;
    --PT-Sans: 'PT Sans', sans-serif;
    //colores
   --primary: #080f28;
   --secundary: #f5f5f5f5;
   --nav:#141a32;
   --aside:#0d132b;
   --bg-button:#007aff;
   --genres:#647690;
}