
/*ABSTRACTS*/
@use './SCSS/abstracts/mixins';
@use './SCSS/abstracts/variables';


/*BASE*/
@use './SCSS/base/base';
@use './SCSS/base/resets';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .ring{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation: ring 2s linear infinite;
      }
      @keyframes ring {
        0%{
          transform: rotate(0deg);
          box-shadow: 1px 5px 2px #ffff;
        }
        50%{
          transform: rotate(180deg);
          box-shadow: 1px 5px 2px #0406c8;
        }
        100%{
          transform: rotate(360deg);
          box-shadow: 1px 5px 2px #0456c8;
        }
      }
      .ring:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(255,255,255,.3);
      }
      @keyframes text {
        50%{
          color: black;
        }
      }

   
      
}

.infinite-scroll-component__outerdiv{
  display: flex;
  justify-content: center;
}

